table {
width: 100%;
padding: 15px;
}

td, th{
text-align: center;
padding: 10px;
}

.manage-wrap {
    width: 300px;
}

button {
    width: 100%;
}

th {
padding-bottom: 0;
text-decoration: underline;
}

form label {
text-align: center;
margin-right: 0;
}